{% extends 'base.html.twig' %}

{%block title %}Imobiliaria Feliz {% endblock %}

{%block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div>
            {{ flash_message }}
        </div>
    {% endfor %}
    
    <h1>Imóveis para alugar</h1>
    {% for imovel in imoveis %}
    <div>
        <img src="{{ asset('/uploads/'~imovel.foto) }}" alt="{{imovel.titulo}}">
        <h2>{{imovel.titulo}}</h2>
        <p>Tipo do imovel: {{imovel.tipo}}</p> 
        <p>Tamanho: {{imovel.tamanho}}</p>       
        <p>Preço: R$ {{imovel.preco}}</p>        
    </div>
    {% endfor %}

{% endblock %}
